body{
  background-color: #2C2B3D;
  color: #FFFFFF;
  margin: 0;
  
  font-family: 'JetBrains Mono', monospace;
}

.page{
  width: 1083px;
  margin: 0 auto;

  padding-top: 71px;
}

nav{
  display: flex;
  justify-content: space-between; 
  align-items: center;

  margin-bottom: 101px;
}

ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 64px;
}

ul li{
  font-size: 14px;
  line-height: 28px;
}

ul li:hover{
  font-weight: bold;
}

ul li a:hover{
  color: #00BFA6;
}

a{
  color: #FFFFFF;
  text-decoration: none;
}

main{
  display: flex;
}

img{
  margin-right: 82px;
}

h1{
  width: 609px;

  font-size: 36px;
  line-height: 40px;

  margin-bottom: 59px;
}

p{  
  font-size: 16px;
  line-height: 28px;
  font-weight: normal;
  text-align: center;
  color: #C2C2C2;
  
  font-family: 'Open Sans', sans-serif;
}

span{
  color: #00BFA6;
}

footer{
  margin: 157px auto 23px;
  width: 568px;

  text-align: center;
  font-size: 14px;
  line-height: 28px;
}
 
footer #line{
margin-bottom: 27px;

border: 1px solid #00BFA6;
}

footer a:hover{
  color: #00BFA6;
}

#cadeado{
  position: fixed;
  bottom: 20px;
  left: 20px;
}